* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
.no-scroll {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 26px;
  padding: 20px;
  height: 160px;
  margin-bottom: 50px;
}
.nav-title {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.nav-title:hover {
  color: #555;
}
.nav-main {
  text-transform: uppercase;
  font-weight: 700;
}
.nav-link {
  margin-left: 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}
.nav-link:hover {
  color: #555;
}
.nav-link.active {
  border-bottom: 2px solid #000;
  font-size: 28px;
}
.content {
  font-family: 'Bitter', serif;
  line-height: 1.4;
  text-align: center;
}
.content-title {
  font-size: 68px;
  font-weight: 500;
}
.content-subtitle {
  font-size: 42px;
  font-weight: 100;
}
.content-image {
  display: block;
  margin: 25px  auto;
  width: 100%;
  max-width: 1200px;
  height: auto;
}
.title {
  font-size: 64px;
  font-weight: 600;
  text-align: left;
}
.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.card {
  width: calc(585px);
  background-image: url(../img/501.jfif);
  position: relative;
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding: 20px 20px calc(430px);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color ease-in 0.3s;
  transition: background-color ease-in 0.3s;
}
.overlay:hover {
  background-color: rgba(0, 0, 0, 0.65);
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info {
  padding: 40px;
  width: 100%;
  max-width: 650px;
  text-align: center;
}
.card-title {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 26px;
  border: 4px solid #fff;
  padding: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  display: inline-block;
}
.card-text {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
}
.text {
  margin: 45px auto;
  text-align: justify;
  width: 900px;
  letter-spacing: 1.1px;
  font-family: 'Bitter', serif;
}
.bigtext {
  font-size: 28px;
}
.smalltext {
  font-size: 18px;
}
.img-block {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.img-block-container {
  display: inline-block;
  width: 580px;
  height: 100%;
}
.img-small {
  height: 100%;
  width: 100%;
}
.main-footer {
  font-size: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
}
.block {
  max-width: 520px;
  line-height: 1.4;
}
.footer-link {
  margin: 0 4px;
  border-bottom: 1px solid;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.footer-link:hover {
  color: #bbb;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .card-wrapper {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .nav {
    font-size: 20px;
    padding: 15px;
    height: 90px;
  }
  .nav-title {
    font-size: 28px;
  }
  .nav-link.active {
    border-bottom: 2px solid #000;
    font-size: 22px;
  }
  .content-title {
    font-size: 54px;
    font-weight: 500;
  }
  .content-subtitle {
    font-size: 36px;
    font-weight: 100;
  }
  .text {
    margin: 40px auto;
    width: 550px;
  }
  .bigtext {
    font-size: 24px;
  }
  .smalltext {
    font-size: 16px;
  }
  .title {
    font-size: 44px;
  }
  .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .card-wrapper {
    margin-top: 30px;
  }
  .card-inner {
    padding: 20px 20px calc(330px);
  }
}
@media (max-width: 576px) {
  .nav {
    font-size: 14px;
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    height: 80px;
    margin-bottom: 30px;
  }
  .nav-title {
    font-size: 26px;
    position: absolute;
    bottom: 0;
  }
  .nav-link.active {
    border-bottom: 2px solid #000;
    font-size: 16px;
  }
  .block {
    text-align: center;
    width: 100%;
    line-height: 1.4;
  }
  .content-title {
    font-size: 46px;
    font-weight: 500;
  }
  .content-subtitle {
    font-size: 28px;
    font-weight: 100;
  }
  .text {
    margin: 30px auto;
    width: 370px;
  }
  .bigtext {
    font-size: 20px;
  }
  .smalltext {
    font-size: 14px;
  }
  .title {
    font-size: 36px;
  }
  .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .card-wrapper {
    margin-top: 30px;
  }
  .card-inner {
    padding: 20px 20px calc(330px);
  }
  .card-title {
    font-size: 20px;
    border: 3px solid #fff;
    padding: 5px 20px;
  }
  .card-text {
    font-size: 16px;
  }
}
@media (max-width: 368px) {
  .nav {
    font-size: 14px;
    padding: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70px;
    margin-bottom: 20px;
  }
  .nav-title {
    font-size: 20px;
  }
  .nav-link {
    font-size: 12px;
  }
  .nav-link.active {
    border-bottom: 1px solid #000;
    font-size: 14px;
  }
  .content-title {
    font-size: 36px;
    font-weight: 500;
  }
  .content-subtitle {
    font-size: 22px;
    font-weight: 100;
  }
  .main-footer {
    font-size: 10px;
    padding: 5px 10px;
  }
  .block {
    text-align: center;
    width: 100%;
    line-height: 1.4;
  }
  .text {
    margin: 20px auto;
    width: 250px;
  }
  .bigtext {
    font-size: 18px;
  }
  .smalltext {
    font-size: 12px;
  }
  .title {
    font-size: 22px;
  }
  .card {
    width: 100%;
    margin-bottom: 30px;
  }
  .card-wrapper {
    margin-top: 30px;
  }
  .card-inner {
    padding: 20px 20px calc(280px);
  }
  .card-title {
    font-size: 16px;
    border: 2px solid #fff;
    padding: 5px 20px;
  }
  .card-text {
    font-size: 14px;
  }
}
