@color-grey: #1f1f1f;
@color-red: #d01257;
@color-orange: #fda403;
@color-green: #00ad7c;

//font-family: "Monserat", sans-serif;
//font-family: 'Roboto', sans-serif;
/*
	lg:1200px;
	md: 992px;
	sm: 767px;
	xs: 576px;
*/
* {
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
	-webkit-font-smoothing: antialiased;
	max-height: 100%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;

}
img{
	max-width: 100%;
	height: auto;
}
.no-scroll {
	overflow: hidden;
}
a{
	text-decoration: none;
    color: inherit;
}
img.background {
	min-height: 100%;
	min-width: 640px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -999;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.nav {
	display: flex;
	justify-content: center;
	font-size: 26px;
	padding: 20px;
	position: relative;
}
.nav-main {
	text-transform: uppercase;
	font-weight: 700;
}
.nav-link {
	margin-left: 15px;
	transition: all .3s;
	display: inline-block;
	&:hover {
		color: #bbb;
	}
}
.main{
	max-height: 100%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 75px;
}
.title {
	font-size: 92px;
	text-transform: uppercase;
	line-height: 1;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	margin: 10px;
}
.subtitle{
	font-size: 36px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 6px;
	font-weight: 700;
}
.info-text {
	font-size: 20px;
	max-width: 520px;
	margin: 0 auto;
}
.main-footer {
	font-size: 14px;
	width: 100%;
	display: flex;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px 30px;
}
.block {
	max-width: 450px;
	line-height: 1.4;
}
.footer-link{
	margin: 0 4px;
	border-bottom: 1px solid;
	transition: all .3s;
	&:hover {
		color: #bbb;
		text-decoration: none;
	}
}
.info-footer {

}


// другие страницы

@media (max-width: 768px) {
	.nav {
		font-size: 22px;
		padding: 15px;
	}
	.title {
		font-size: 65px;
	}
	.subtitle{
		font-size: 28px;
	}
	.info-text {
		font-size: 14px;

	}
}
@media (max-width: 576px) {
	.nav {
		font-size: 18px;
		padding: 12px;
	}
	.title {
		font-size: 42px;
	}
	.subtitle{
		font-size: 20px;
	}
	.info-text {
		font-size: 12px;
		max-width: 320px;
	}
	.block {
      text-align: center;
      width: 100%;
      line-height: 1.4;
   }
}
@media (max-width: 368px) {
	.nav {
		font-size: 10px;
		padding: 8px;
	}
	.title {
		font-size: 30px;
	}
	.subtitle{
		font-size: 18px;
	}
	.info-text {
		font-size: 8px;
		max-width: 180px;
	}
	.main-footer {
		font-size: 10px;
		padding: 5px 10px;
	}
   .block {
      text-align: center;
      width: 100%;
      line-height: 1.2;
   }
}


// preload
.preloader{}

